{% assign sorted_agencies = site.agencies | sort: 'nav_order' %}
{% assign groups_of = 4 %}
{% assign items_per_group = site.agencies.size | divided_by: groups_of %}
{% assign remainder = site.agencies.size | modulo: groups_of %}

{% if remainder > 0 %}
  {% assign items_per_group = items_per_group | plus: 1 %}
{% endif %}

<ul class="usa-nav-submenu usa-megamenu usa-grid-full" id="megamenu-1">
  <li class="usa-megamenu-col">
    <ul>
      {% for agency in sorted_agencies limit: items_per_group %}
        <li>
          <a href="{{ agency.url | relative_url }}">{{ agency.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li class="usa-megamenu-col">
    <ul>
      {% assign start = items_per_group %}
      {% for agency in sorted_agencies limit: items_per_group offset: start %}
        <li>
          <a href="{{ agency.url | relative_url }}">{{ agency.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li class="usa-megamenu-col">
    <ul>
      {% assign start = items_per_group | times: 2 %}
      {% for agency in sorted_agencies limit: items_per_group offset: start %}
        <li>
          <a href="{{ agency.url | relative_url }}">{{ agency.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li class="usa-megamenu-col">
    <ul>
      {% assign start = items_per_group | times: 3 %}
      {% for agency in sorted_agencies limit: items_per_group offset: start %}
        <li>
          <a href="{{ agency.url | relative_url }}">{{ agency.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>
